:root {
    --color-background: #1d1f21;
    --color-current-line: #282a2e;
    --color-selection: #373b41;
    --color-foreground: #c5c8c6;
    --color-comment: #969896;
    --color-red: #cc6666;
    --color-orange: #de935f;
    --color-yellow: #f0c674;
    --color-green: #b5bd68;
    --color-aqua: #8abeb7;
    --color-blue: #81a2be;
    --color-purple: #b294bb;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

a {
    color: var(--color-blue);
    text-decoration: none;
}

.list.row:hover {
    background-color: var(--color-current-line);
}

.list-category a {
    font-family: "Inconsolata", monospace;
    color: var(--color-yellow);
}

.list-title a.title {
    color: var(--color-foreground);
}

.list-title a.tag {
    color: var(--color-selection);
    font-size: 80%;
}

a:hover,
.list-category a:hover,
.list-title a.title:hover,
.list-title a.tag:hover {
    color: var(--color-orange);
}

.button {
    color: var(--color-blue);
    border-color: var(--color-selection);
}
.button:hover, .button:focus, .button.active {
    color: var(--color-orange);
    background-color: var(--color-selection);
    border-color: var(--color-comment);
}

.list-date-time {
    font-family: "Inconsolata", monospace;
    color: var(--color-green);
}

.translations.row {
    color: var(--color-comment);
}

.entry-content p {
    font-size: 1.1em;
}

.modified-date-time.row,
.entry-title footer,
.footer.row footer {
    color: var(--color-comment);
    font-style: italic;
}

table.pgcss-highlighttable td {
    border-bottom: none;
}

table.pgcss-highlighttable td.linenos {
    color: var(--color-comment);
    border-right: 1px solid var(--color-selection);
}

tt.docutils.literal, code {
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    font-size: 90%;
    white-space: nowrap;
    background-color: var(--color-current-line);
    border: none;
    border-radius: 4px;
    font-family: "Inconsolata", monospace;
}

table.docutils.footnote,
table.docutils.citation {
    color: var(--color-comment);
    font-size: 0.9em;
}

table.docutils.footnote td.label,
table.docutils.citation td.label {
    border-right: 1px solid var(--color-selection);
}

.figure p.caption,
.figure div.legend {
    color: var(--color-comment);
    font-size: 0.9em;
    border-left: 1px solid var(--color-selection);
}
