.entry-title.row {
    margin-bottom: 5rem;
}

.last.list.row {
    margin-bottom: 2.5rem;
}

.paginator.row {
    margin-bottom: 2.5rem;
}

.footer.row {
    margin-bottom: 1rem;
}

table.docutils.footnote,
table.docutils.citation {
    margin-bottom: 0;
}
table.docutils.footnote:last-of-type,
table.docutils.citation:last-of-type {
    margin-bottom: 2.5rem;
}

table.docutils.footnote td,
table.docutils.citation td {
    padding-top: 0;
    padding-bottom: 0;
}

.figure {
    margin-bottom: 2.5rem;
}
.figure p {
    margin-bottom: 0;
}
.figure p.caption,
.figure div.legend {
    padding-left: 15px;
}
.figure img {
    display: block;
    max-width: 100%;
}
