.pgcss-highlight .hll { background-color: #373b41 }
.pgcss-highlight  { background: #1d1f21; color: #c5c8c6 }
.pgcss-highlight .c { color: #969896 } /* Comment */
.pgcss-highlight .err { color: #cc6666 } /* Error */
.pgcss-highlight .k { color: #b294bb } /* Keyword */
.pgcss-highlight .l { color: #de935f } /* Literal */
.pgcss-highlight .n { color: #c5c8c6 } /* Name */
.pgcss-highlight .o { color: #8abeb7 } /* Operator */
.pgcss-highlight .p { color: #c5c8c6 } /* Punctuation */
.pgcss-highlight .ch { color: #969896 } /* Comment.Hashbang */
.pgcss-highlight .cm { color: #969896 } /* Comment.Multiline */
.pgcss-highlight .cp { color: #969896 } /* Comment.Preproc */
.pgcss-highlight .cpf { color: #969896 } /* Comment.PreprocFile */
.pgcss-highlight .c1 { color: #969896 } /* Comment.Single */
.pgcss-highlight .cs { color: #969896 } /* Comment.Special */
.pgcss-highlight .gd { color: #cc6666 } /* Generic.Deleted */
.pgcss-highlight .ge { font-style: italic } /* Generic.Emph */
.pgcss-highlight .gh { color: #c5c8c6; font-weight: bold } /* Generic.Heading */
.pgcss-highlight .gi { color: #b5bd68 } /* Generic.Inserted */
.pgcss-highlight .gp { color: #969896; font-weight: bold } /* Generic.Prompt */
.pgcss-highlight .gs { font-weight: bold } /* Generic.Strong */
.pgcss-highlight .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
.pgcss-highlight .kc { color: #b294bb } /* Keyword.Constant */
.pgcss-highlight .kd { color: #b294bb } /* Keyword.Declaration */
.pgcss-highlight .kn { color: #8abeb7 } /* Keyword.Namespace */
.pgcss-highlight .kp { color: #b294bb } /* Keyword.Pseudo */
.pgcss-highlight .kr { color: #b294bb } /* Keyword.Reserved */
.pgcss-highlight .kt { color: #f0c674 } /* Keyword.Type */
.pgcss-highlight .ld { color: #b5bd68 } /* Literal.Date */
.pgcss-highlight .m { color: #de935f } /* Literal.Number */
.pgcss-highlight .s { color: #b5bd68 } /* Literal.String */
.pgcss-highlight .na { color: #81a2be } /* Name.Attribute */
.pgcss-highlight .nb { color: #c5c8c6 } /* Name.Builtin */
.pgcss-highlight .nc { color: #f0c674 } /* Name.Class */
.pgcss-highlight .no { color: #cc6666 } /* Name.Constant */
.pgcss-highlight .nd { color: #8abeb7 } /* Name.Decorator */
.pgcss-highlight .ni { color: #c5c8c6 } /* Name.Entity */
.pgcss-highlight .ne { color: #cc6666 } /* Name.Exception */
.pgcss-highlight .nf { color: #81a2be } /* Name.Function */
.pgcss-highlight .nl { color: #c5c8c6 } /* Name.Label */
.pgcss-highlight .nn { color: #f0c674 } /* Name.Namespace */
.pgcss-highlight .nx { color: #81a2be } /* Name.Other */
.pgcss-highlight .py { color: #c5c8c6 } /* Name.Property */
.pgcss-highlight .nt { color: #8abeb7 } /* Name.Tag */
.pgcss-highlight .nv { color: #cc6666 } /* Name.Variable */
.pgcss-highlight .ow { color: #8abeb7 } /* Operator.Word */
.pgcss-highlight .w { color: #c5c8c6 } /* Text.Whitespace */
.pgcss-highlight .mb { color: #de935f } /* Literal.Number.Bin */
.pgcss-highlight .mf { color: #de935f } /* Literal.Number.Float */
.pgcss-highlight .mh { color: #de935f } /* Literal.Number.Hex */
.pgcss-highlight .mi { color: #de935f } /* Literal.Number.Integer */
.pgcss-highlight .mo { color: #de935f } /* Literal.Number.Oct */
.pgcss-highlight .sa { color: #b5bd68 } /* Literal.String.Affix */
.pgcss-highlight .sb { color: #b5bd68 } /* Literal.String.Backtick */
.pgcss-highlight .sc { color: #c5c8c6 } /* Literal.String.Char */
.pgcss-highlight .dl { color: #b5bd68 } /* Literal.String.Delimiter */
.pgcss-highlight .sd { color: #969896 } /* Literal.String.Doc */
.pgcss-highlight .s2 { color: #b5bd68 } /* Literal.String.Double */
.pgcss-highlight .se { color: #de935f } /* Literal.String.Escape */
.pgcss-highlight .sh { color: #b5bd68 } /* Literal.String.Heredoc */
.pgcss-highlight .si { color: #de935f } /* Literal.String.Interpol */
.pgcss-highlight .sx { color: #b5bd68 } /* Literal.String.Other */
.pgcss-highlight .sr { color: #b5bd68 } /* Literal.String.Regex */
.pgcss-highlight .s1 { color: #b5bd68 } /* Literal.String.Single */
.pgcss-highlight .ss { color: #b5bd68 } /* Literal.String.Symbol */
.pgcss-highlight .bp { color: #c5c8c6 } /* Name.Builtin.Pseudo */
.pgcss-highlight .fm { color: #81a2be } /* Name.Function.Magic */
.pgcss-highlight .vc { color: #cc6666 } /* Name.Variable.Class */
.pgcss-highlight .vg { color: #cc6666 } /* Name.Variable.Global */
.pgcss-highlight .vi { color: #cc6666 } /* Name.Variable.Instance */
.pgcss-highlight .vm { color: #cc6666 } /* Name.Variable.Magic */
.pgcss-highlight .il { color: #de935f } /* Literal.Number.Integer.Long */
