{% extends "base.html" %}

{% block title %}log_archives - {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content">

    <h2>log_archives</h2>

    {% import 'article_list.html' as a_list with context %}
    {{ a_list.generate(dates) }}

</section>
{% endblock %}
