{% macro generate(article_obj_list) %}
{% for article in article_obj_list %}
<div class="{% if loop.last %}last {% endif %}list row">
    <div class="four columns list-date-time">
        [{{ article.locale_date }} {{ article.date | strftime('%H:%M:%S') }}]
    </div>
    <div class="two columns list-category">
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category.slug}}</a>:
    </div>
    <div class="six columns list-title">
        <a class="title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        {% for tag in article.tags %}
        <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag.slug }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endmacro %}
