{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block head %}
    {{ super() }}

    {% import 'translations.html' as translations with context %}
    {{ translations.entry_hreflang(article) }}

    {% if article.description %}
    <meta name="description" content="{{article.description}}" />
    {% endif %}

    {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
    {% endfor %}

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments-tomorrow-night.css">
{% endblock %}

{% block content %}
<section id="content">

    <div class="entry-title row">
        <div class="eight columns">
            <header>
                <h2>
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                       title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </h2>
                {% import 'translations.html' as translations with context %}
                {{ translations.translations_for(article) }}
            </header>
        </div>
        <div class="four columns">
            <footer class="post-info">
                <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                {% if article.modified %}
                <div class="updated">
                    Updated: <time class="modified" datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>
                </div>
                {% endif %}
                {% if article.authors %}
                <div class="vcard author">
                    By
                    {% for author in article.authors %}
                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if article.category %}
                <div class="category">
                    Module: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                </div>
                {% endif %}
                {% if article.tags %}
                <div class="tags">
                    Tags:
                    {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </footer>
        </div>
    </div>

    <div class="entry-content row">
        <div class="twelve columns">
            {{ article.content }}
        </div>
    </div>

</section>
{% endblock %}
