{% extends "base.html" %}

{% block title %}data_sources - {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content">

    <h2>data_sources</h2>

    <ul>
        {% for author, articles in authors|sort %}
        <li>
            <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }} logs)
        </li>
        {% endfor %}
    </ul>

</section>
{% endblock %}
