{% extends "base.html" %}

{% block title %}log_modules - {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content">

    <h2>log_modules</h2>

    <ul>
        {% for category, articles in categories|sort %}
        <li>
            <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }} logs)
        </li>
        {% endfor %}
    </ul>

</section>
{% endblock %}
