{% extends "base.html" %}

{% block content %}
<section id="content">

    {% block content_title %}
    <h2>all_logs</h2>
    {% endblock %}

    {% import 'article_list.html' as a_list with context %}
    {{ a_list.generate(articles_page.object_list) }}

    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}

</section>
{% endblock content %}
