{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title }} - {{ SITENAME }}{%endblock%}

{% block head %}
    {{ super() }}

    {% import 'translations.html' as translations with context %}
    {{ translations.entry_hreflang(page) }}
{% endblock %}

{% block content %}
<section id="content">

    <h2>{{ page.title }}</h2>

    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

    {% if page.modified %}
    <div class="modified-date-time row">
        <div class="twelve columns">
            <p>Last updated: {{ page.locale_modified }}</p>
        </div>
    </div>
    {% endif %}

</section>
{% endblock %}
