{% extends "base.html" %}

{% block title %}logs from [{{ period | reverse | join(' ') }}] - {{ SITENAME }} archives{% endblock %}

{% block content %}
<section id="content">

    <h2>logs from [{{ period | reverse | join(' ') }}]</h2>

    {% import 'article_list.html' as a_list with context %}
    {{ a_list.generate(dates) }}

</section>
{% endblock %}
