{% extends "base.html" %}

{% block title %}log_tags - {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content">

    <h2>log_tags</h2>

    <ul>
        {% for tag, articles in tags|sort %}
        <li>
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }} logs)
        </li>
        {% endfor %}
    </ul>

</section>
{% endblock %}
