{% macro translations_for(article) %}
{% if article.translations %}
<div class="translations row">
    <div class="twelve columns">
        Translations:
        {% for translation in article.translations %}
        <a href="{{ SITEURL }}/{{ translation.url }}" hreflang="{{ translation.lang }}">{{ translation.lang }}</a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro entry_hreflang(entry) %}
{% if entry.translations %}
    {% for translation in entry.translations %}
    <link rel="alternate" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{ translation.url }}">
    {% endfor %}
{% endif %}
{% endmacro %}
